body {
    margin: 0;
    text-align:center;
    /*rgb(147, 201, 255)*/
    background-color:rgb(79, 135, 192);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.primary-color {
    background-color:#9CAFB3;
}

.secondary-color {
    background-color:#424B54;
    color:white;
}

h1 {
    font-size:3em;
}

h2 {
    font-size:2em;
}

h3 {
    font-size:1.5em;
}

p {
    font-size: 1.2em;
}

.primary-color .section-heading {
    color:black;
    text-shadow: 1px 1px white;
    font-size:2em;
    padding:2%;
}

.secondary-color .section-heading {
    color:white;
    text-shadow: 2px 2px black;
    font-size:2em;
    padding:2%;
}

.pri {
    background-color:#5f6a74;
}

.sec {
    background-color:rgb(196, 196, 196);
    color:black;
}

.section-heading {
    font-size:2em;
    padding:2%;
}

.bio {
    /*background-color:rgb(59, 115, 172);*/
    padding:5%;
    margin:auto;
    border-color:black;
}

.bio-content {
    margin:auto;
    width:40%;
    align-items:center;
}

.bio-column {
    text-align:center;
    align-items:center;
}

.bio-text {
    text-shadow: 5px 5px black;
}

.portrait{
    border-radius: 100%;
    margin:20px;
    box-shadow: 5px 5px black;
}

.skills { 
    margin:0px auto 0px auto;
    padding:5% 17%;
}

.skill-container {
    padding:2%;
}

.skill-entry {
    padding: 10px;
}

.skill-image {
    width:150px;
    margin:1px;
}

.education{
    font-size: 1.2rem;
    padding:5%;
}
.edu-table {
    margin:auto;
    width:60%;
}
.edu-header {
    background-color: black;
}
.edu-entry {
}


.courses {
    padding:2% 0%;
}

.course-table {
    margin:0px auto 0px auto;
    width:50%;
    padding:10px;
}

.class-entry-title {
    text-align:right;
}
.class-entry {
    text-align:left;
}

.projects {
    padding:5% 20%;
    margin:auto;
}

.project-link {
    color:#523536;
    text-decoration-color: #523536;

}

.footer {
    padding:50px;
}

.credits {
    color:rgb(34, 34, 34);
    font-size:.75em;
}

/*
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #236791);
    background-image: -moz-linear-gradient(top, #3498db, #236791);
    background-image: -ms-linear-gradient(top, #3498db, #236791);
    background-image: -o-linear-gradient(top, #3498db, #236791);
    background-image: linear-gradient(to bottom, #3498db, #236791);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
*/